body {
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}

.titre-accueil {
    background: linear-gradient(#cc0000, #800000);
    box-shadow: 8px 8px 4px 1px rgba(0, 0, 0, .1);
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:60px;
    padding-top:40px;
    padding-bottom:40px;
    text-align:center;
    width: 50%;
}

.titre-page {
    text-align:center;
}

.photo {
    display:block;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

table {
    margin-top:50px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
}

td {
    padding:3px;
}